/* CSS for the /analyze page */
#prose {
	margin: 10px;
}
#container { /* holds the box on the left & analysis prose on right */
	width: 100%;
	display: flex;
	vertical-align:top;
}
#boxfriend { /* holds the box */
}
#box { /* the floaty input box */
	position: sticky;
	top: 30%;
}

