<!DOCTYPE html>
<html>
<head>
	<title>poet</title>
	<link rel="stylesheet" type="text/css" media="screen" href="static/analyze.css">
</head>
<body>
	<div id="container">
		<div id="boxfriend">
			<div id="box">
				<form action"/analyze" method="post">
					<textarea name="text", rows=30 cols=80>{{ user_input }}</textarea>
					<input type="submit" value="Go">
				</form>
			</div>
		</div>
		<div id="prose">{{ prose_html | safe }}</div>
	</div>
</body>
</html>
